.w-05 {
	width: 5%;
}
.w-15 {
	width: 15%;
}
.w-25 {
	width: 25%;
}
.w-35 {
	width: 35%;
}
.w-45 {
	width: 45%;
}
.w-55 {
	width: 55%;
}
.w-65 {
	width: 65%;
}
.w-75 {
	width: 75%;
}
.w-85 {
	width: 85%;
}
.w-95 {
	width: 95%;
}